{@com.zaga.model.Creditnote cr}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZagaOpenSource</title>
    <style>
      h1 {
        padding-left: 20%;
        width: 65%;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.5rem;
      }

      .address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

    </style>
  </head>

  <body>
    <header>
      <figure>
        <img
          src="zagaos.png"
          alt="zagaos"
          width="700"
          height="80"
        />
      </figure>

      <h1>Credit Note</h1>
    </header>

    <main>
      <div class="address">
          <p>
            ZAGA OPENSOURCE PRIVATE LIMITED<br />
            274 A/5, K.R.Nagar <br />Kovilpatti, <br />
            Tamil Nadu , 628503 <br />
            Phone : +91 9894519376 <br />
          </p>
      </div>

      <div class="to">
        <p>
          <strong>To:</strong> <br />
          Red Hat Asia Pacific Pte Ltd (“Red Hat”), <br />
          88 Market Street, Level 45 CapitaSpring, <br />
          Singapore 048948. <br />
        </p>
      </div>

      <table>
        <p>
          Ref : Credit note for over paid invoice : 7310013795_S1-1610_Jul 24 to Aug 13_2022_ICG <br>
            TRIMS RHPAM Assessment - WO196
          <br>
        </p>

        <p>Reference invoice # TRIM_1001</p>
        <thead>
          <tr>
            <th scope="col">PO # </th>
            <th scope="col">SFDC # </th>
            <th scope="col">PA # </th>
            <th scope="col">Paid Amount <br> (CurrencyType)</th>
            <th scope="col">Actual <br> (CurrencyType)</th>
            <th scope="col">Credit Amount <br> (CurrencyType)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{cr.po}</td>
            <td>{cr.sfdc}</td>
            <td>{cr.pa}</td>
            <td>{cr.paidAmount} {cr.currencyType}</td>
            <td>{cr.actualAmount} {cr.currencyType} </td>
            <td>{cr.creditAmount} {cr.currencyType}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" style="text-align: right">Total credit amount back to next invoice</td>
            <td>{cr.creditAmount}</td>
          </tr>
        </tfoot>
      </table>
    </main>
    <br />
    <br />

  </body>

  <footer>
    <p><strong>Authorized Signature</strong></p>

    <p><strong>Vasanthalakshmi V</strong><br><strong>{cr.date}</strong></p>
  </footer>
</html>