<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.5rem;
        /* margin: 2rem; */
      }

      .container {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
        padding: 2rem;
      }

      .projectdetails {
        display: flex;
        height: 100px;
      }

      .left {
        width: 20%;
      }

      /* .right {
            flex-grow: 1;
        } */
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <img
          src="zagaos.png"
          alt="zagaos"
          width="700"
          height="80"
        />
      </header>

      <main>
        <!-- <div class="projectdetails">
          <div class="left">
            <p>
              Project Name <br />
              Consultant <br />
              <br />
              Note :
            </p>
          </div>
          <div class="right">
            <p>
              Citi_MakerChecker_Wealth_CI_Wipro_GPS <br />
              Surendar Ramaraj <br />
              <br />
              service done virtually
            </p>
          </div>
        </div> -->

        <div class="projectdetails">
          <p>
            Project Name : {invoice.projectName}<br />
            Consultant &nbsp; &nbsp; &nbsp;: {invoice.consultant}<br />
            <br />
            Note : service done virtually
          </p>
        </div>

        <table>
          <tr>
            <th>PO #</th>
            <th>SFDC #</th>
            <th>PA #</th>
            <th>Week / SGD</th>
            <th>Total PO / MD</th>
            <th>Daily Rate / SGD</th>
            <th>Qty / MD</th>
            <th>Invoice Amount SGD</th>
          </tr>

          <tr>
            <td>{invoice.payOrder}</td>
            <td>{invoice.sfdc}</td>
            <td>{invoice.pa}</td>
            <td>{invoice.duration}</td>
            <td>{invoice.manHours}</td>
            <td>${invoice.rate}</td>
            <td>{invoice.totalManDays}</td>
            <td>${invoice.invoiceAmount}</td>
          </tr>

          <tr>
            <td colspan="7" style="text-align: right">Total Invoice amount</td>
            <td>${invoice.totalInvoiceAmount}</td>
          </tr>
        </table>

        <br />
        <br />
        <br />

        <div class="footercontent">
          <b>Authorized Signature</b> <br />
          <br />

          <b style="font-size: 20px">Vasanthalakshmi V</b> <br />
          <b>{invoice.date}</b>
        </div>
      </main>

      <footer></footer>
    </div>
  </body>
</html>
