{@com.zaga.model.Quote quote}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZagaOpenSource</title>
    <style>
      h1 {
        padding-left: 20%;
        width: 65%;
      }

      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 0.5rem;
      }

      .address {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .right {
        width: -65%;
        height: 100%;
      }

      .wordwrap {
        word-wrap: break-word;
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    <header>
      <figure>
        <img
          src="src/main/resources/zagaos.png"
          alt="zagaos"
          width="700"
          height="80"
        />
      </figure>

      <h1>Quotation</h1>
    </header>

    <main>
      <div class="address">
        <div class="left">
          <p class="wordwrap">{quote.from}</p>
        </div>
        <div class="right">
          <p>
            <strong>Quotation No&nbsp;&nbsp;&nbsp;&nbsp;:</strong>
            2023-{quote.quoteId}
            <br />
            <strong>Quotation Date&nbsp;:</strong> {quote.date} <br />
            <strong
              >Valid
              Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong
            >
            {quote.validDate} <br />
          </p>
        </div>
      </div>

      <div class="to">
        <p>
          <strong>To:</strong> <br />
          {quote.to}
        </p>
      </div>

      <table>
        <p>
          <strong
            >Project Name : Credit Initiation (CI) , Citi Bank ,
            Singapore</strong
          >
          <br />
        </p>
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">Service Description</th>
            <th scope="col">Period</th>
            <th scope="col">QTY / MD</th>
            <th scope="col">Unit Price SGD / MD</th>
            <th scope="col">Total Price SGD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              Software <br />
              consulting service <br />provided for <br />
              {quote.projectName} by <br />
              {quote.employeeRole} (Surendar)
            </td>
            <td>
              Nov 2022 to <br />
              Dec 2022
            </td>
            <td>{quote.totalManDays}</td>
            <td>{quote.unitPrice}</td>
            <td>{quote.totalPrice}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" style="text-align: right">
              GST {quote.gstPercent} %
            </td>
            <td>{quote.gstAmount}</td>
          </tr>
          <tr>
            <td colspan="5" style="text-align: right">Total Amount</td>
            <td>{quote.totalAmount}</td>
          </tr>
        </tfoot>
      </table>
    </main>
    <br />
    <br />

    <footer>
      <b>Note :</b> <br />
      Prices quoted in SGD <br />
      <b>54</b>
    </footer>
  </body>
</html>
