{@com.zaga.model.WeeklyTimesheet weekly}
{@java.util.List<String>
  redhatOwners}
  {@java.util.List<String>
    clientOwners}
  {@java.util.List<com.zaga.model.DailyTimesheet>
    timesheets}
   
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Timesheet</title>
      <style>
        .container {
          width: 700px;
          margin-right: auto;
          margin-left: auto;
          padding: 2rem;
        }

        table,
        th,
        td {
          border: 1px solid black;
          border-collapse: collapse;
          padding: 0.5rem;
        }
        .word-wrap {
          white-space: normal;
          word-break: break-all;
          max-width: 250px;
        }
      </style>
    </head>
    <body>
      <div class="container">
        <header>
          <img
            src="/resources/zagaos.png"
            alt="zagaos"
            width="700"
            height="80"
          />
        </header>

        <main>
          <div class="main-header">
            <h3 style="text-align: center;">Timesheet</h3>
            <br />
            <p>Total Hours {weekly.employeeName} : ({weekly.manDaysCal()})</p>
          </div>

          <br />
          <br />

          <div>
            <p>Period : {weekly.startDate} to {weekly.endDate}</p>
            <p>Project : {weekly.projectName}</p>
            <p>Consultant : {weekly.employeeName}</p>
          </div>

          <table>
              <tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Support Ticket</th>
                <th>Citi Owner</th>
                <th>Redhat Owner</th>
                <th>Description</th>
              </tr>
            
              {#each timesheet in weekly.timesheets }
              <tr>
                <td class="word-wrap">{timesheet.date}</td>
                <td class="word-wrap">
                  {timesheet.hours}
                </td>
                <td class="word-wrap">{timesheet.supportTicket}</td>
                <td class="word-wrap">
                  <ul>
                    {#for clientOwner in timesheet.clientOwners }
                    <br>{clientOwner}</br>
                    {/for}
                  </ul>
                </td>
                <td class="word-wrap">
                  <ul>
                    {#for redHatOwner in timesheet.redHatOwners }
                    <br>{redHatOwner}</br>
                    {/for}
                  </ul>
                </td>
                <td class="word-wrap">{timesheet.description}</td>
              </tr>
              
              {/each}

              <tr>
                <td colspan="1" style="text-align: right">Total</td>
                <td colspan="2" style="text-align: left">{weekly.duration}</td>
              </tr>

          </table>
        </main>

        <footer></footer>
      </div>
    </body>
  </html>
</String>
